<h1>Travel Bug</h1>

<div class="destination_list">
  <% if @destination_list %>
      <% @destination_list.each do |destination| %>
      <p><%= link_to "#{destination["city"]}, #{destination["state"]}, #{destination["country"]}", "/destination/#{destination["id"]}" %></p>
      <% end %>
  <% end %>
</div>
