@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

  body {
    background-color: rgb(247, 236, 232);
    color: rgb(61, 61, 61);
    font-family: 'New Tegomin', serif;
  }

  .destination_list {
    text-align: center;
  }

  h1 {
    text-align: center;
    color: rgb(184, 53, 21);
  }